.about {
    display:flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    
}
.about h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.about p {
    margin:1rem;
}

.about .img {
    padding: 0.5rem;
}