 
  
  .mol_card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    height: 10rem;
  }
  
  .mol_card:not(:last-child) {
    margin-right: 10px;
  }
  
  .mol_card:hover {
    color: var(--white);
    background: var(--red);
  }
  
  .mol_card .mol_card_title {
    font-size: 20px;
    
  }
  .mol_card .mol_card_title, .mol_card .mol_card_formula {
    align-items: center;
    justify-content: center
  }
  
  .mol_card .mol_card_content {
    margin: 20px 0;
    max-width: 85%;
  }
  
  .mol_card .mol_card_formula {
    margin-top: auto;
  }

  
 
  
  @media (min-width: 500px) {
    .mol_card {
      flex-basis: calc(50% - 10px);
    }
  
    .mol_card:not(:last-child) {
      margin-right: 20px;
    }
  }
  
  @media (min-width: 700px) {
    .mol_card {
      flex-basis: calc(calc(100% / 3) - 20px);
    }
  
    .mol_card:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  @media (min-width: 1100px) {
    .mol_card {
      flex-basis: calc(25% - 30px);
    }
  
    .mol_card:not(:last-child) {
      margin-right: 40px;
    }
  }
  

.active {
    background-color: var(--darkgray);
}
.inactive {
    background-color: var(--white);
}