.predict_table {
    display:table;
    column-rule-width: 1px;
}
.predict_table th {
    text-align: left;
    font-weight: bold;
    border: 5px solid transparent;
    border-bottom: 0.05rem dashed rgba(0,0,0,0.5)

}

.predict_table td {
    max-width: 30rem;
    border-bottom: 0.05rem dashed rgba(100,100,100,0.5)
}

